@import "currency-flags/dist/currency-flags.css";

.currency-flag {
	border-radius: 5px;
	height: 32px;
	width: 48px;
	scale: 60%;
	outline: 1.5px solid #eaeaea;
}

.ng-select.custom {
	max-width: 350px;
}

.custom {
	display: flex;
	align-items: center;
}

.ng-select ::ng-deep .ng-clear-wrapper {
	display: none;
}