.header {
	margin-bottom: 50px;
	
	&__wrapper {
		background-color: rgba(256, 256, 256, 0.3);
		padding: 25px 50px;
		box-shadow: 0px 0px 15px 3px rgba(256, 256, 256, 0.3), inset 0px 0px 30px 25px rgba(256, 256, 256, 0.2);
		display: flex;
		align-items: center;
		gap: 30px;
	}

	&__currency {
		

		&-usd {}

		&-eur {}
	}
}
