<header></header>
<main class="main">
  <section class="main__card card">
    <div class="card__items">
      <div class="card__item-amount">
        <label for="amount">Amount</label>
        <input class="card__input" id="amount" type="number" required [(ngModel)]="amountValue" placeholder="Amount"
          step="0.02">
      </div>
      

      <div class="card__select-items select-items">
        <div class="select-items__select select-items__select-from">
          <label for="from">From</label>
            <ng-select class="custom" #from name="" id="from" (ngModelChange)="changeBase($event)" [(ngModel)]="currencyFrom">
              <ng-option class="custom" *ngFor="let curr of currencies | keyvalue" [value]="curr.key">
                <div class="custom">
                  <div class="currency-flag currency-flag-{{curr.key.toLowerCase()}}"></div>
                  <div>{{curr.key}}</div>
                </div>
              </ng-option>
            </ng-select>
        </div>

      <a (click)="switchCurrencies()">
        <img src="../images/icons/exchange-icon.svg" alt="Exchange currency">
      </a>
      
      <div class="select-items__select select-items__select-to">
        <label for="to">To</label>
          <ng-select class="custom" #to name="" id="to" (ngModelChange)="toCountry($event)" [(ngModel)]="currencyTo">
            <ng-option class="custom" *ngFor="let curr of currencies | keyvalue" [value]="curr.key">
              <div class="custom">
                <div class="currency-flag currency-flag-{{curr.key.toLowerCase()}}"></div>
                <div>{{curr.key}}</div>
              </div>
            </ng-option>
          </ng-select>
        </div>

      </div>
      <div class="card__result">
        {{amountValue}} {{currencyFrom}} = {{result}} {{currencyTo}}
      </div>
    </div>
    <button (click)="convert(amountValue)">Submit</button>
  </section>
</main>